extends layout

block content
    div(id='heading')
        if mode == 'dark'
            a(href='/dark') 
                div Home
            a(href='/about_us/light') 
                div Light Mode
            a(href='/about_us/dark')
                div About Us 
            a(href='/comments/dark')
                div Comment
            a(href='/menu/dark')
                div Menu
        else
            a(href='/light') 
                div Home
            a(href='/about_us/dark')
                div Dark Mode
            a(href='/about_us/light')
                div About Us 
            a(href='/comments/light')
                div Comment
            a(href='/menu/light')
                div Menu


    h1(id="title-header") About Us

    div(id="about-us-detail") Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum...
