//- layout of the home page
extends layout

block content
    //- Heading on top of the page
    div(id='heading')
        if mode == 'dark'
            a(href='/light') 
                div Light Mode
            a(href='/about_us/dark')
                div About Us 
            a(href='/comments/dark')
                div Comment
            a(href='/menu/dark')
                div Menu
        else
            a(href='/dark')
                div Dark Mode
            a(href='/about_us/light')
                div About Us 
            a(href='/comments/light')
                div Comment
            a(href='/menu/light')
                div Menu
            

    h1(id='welcome') Welcome to Downtown Donut
    //- where Downtown Donut Logo is put in
    if mode == 'dark'
        img(id='main-logo-display' src="/images/" alt='Downtown Donut Logo (Dark)')
    else
        img(id='main-logo-display' src="/images/" alt='Downtown Donut Logo (Light)')
    