extends layout

block content
    div(id='heading')
        if mode == 'dark'
            a(href='/dark') 
                div Home
            a(href='/menu/light') 
                div Light Mode
            a(href='/about_us/dark')
                div About Us 
            a(href='/comments/dark')
                div Comment
            a(href='/menu/dark')
                div Menu
        else
            a(href='/light') 
                div Home
            a(href='/menu/dark')
                div Dark Mode
            a(href='/about_us/light')
                div About Us 
            a(href='/comments/light')
                div Comment
            a(href='/menu/light')
                div Menu


    h1(id="title-header") Menu

    div(id='menu-section')
        ul
            li item1 - $0.00
            li item2 - $0.00
            li item3 - $0.00
            li etc...

    